// |=============== FONT-FAMILY ===============>
// |CM| Main font-family
$primary-font-family: "Montserrat", system-ui;

// |=============== COLOR ===============>
// |CM| Change favorite color (Yellow Orange Color Wheel - 36)
$hue-color: 36;
// |CM| HSL color mode
$primary-color: hsl($hue-color 100% 50%);
$second-color: hsl(0 0% 93%);
$third-color: hsl(0 0% 86%);
$fourth-color: hsl(0 0% 79%);
$fifth-color: hsl(0 0% 68%);
$sixth-color: hsl(0 0% 60%);
$seventh-color: hsl(0 0% 49%);
$eighth-color: hsl(0 0% 40%);
$ninth-color: hsl(0 0% 25%);
$tenth-color: hsl(0 0% 20%);
$eleventh-color: hsl(0 0% 13%);
$twelfth-color: hsl(0 0% 0% / 0.5);
$thirteenth-color: hsl(0 0% 0% / 0.1);
$fourteenth-color: hsl(0 0% 100% / 0.4);
// |CM| Colors for effects
$primary-color-effects: hsl($hue-color 92% 62%);
$second-color-effects: hsl($hue-color 100% 50% / 0.7);
$third-color-effects: hsl(25 88% 47%);
// |CM| Universal colors
$white-color: hsl(0 0% 100%);
$black-color: hsl(0 0% 0%);

// |=============== FONT-WEIGHT ===============>
// |CM| Main font-weight
$primary-font-weight: 500;
// |CM| Additional font-weights
$second-font-weight: 600;
$third-font-weight: 700;
$fourth-font-weight: 800;

// |=============== FONT-SIZE ===============>
// |CM| Base font-size ( .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...)
$text-size-base: 16px;
// |CM| Different font-size options
$text-size-tiny: $text-size-base - 4px;
$text-size-small: $text-size-base - 2px;
$text-size-medium: $text-size-base + 2px;
$text-size-big: $text-size-base + 4px;
$text-size-large: $text-size-base + 7px;
$text-size-huge: $text-size-base + 8px;
$text-size-max-tiny: $text-size-base + 32px;
$text-size-max-small: $text-size-base + 34px;
$text-size-max-medium: $text-size-base + 44px;
$text-size-max-big: $text-size-base + 54px;

// |=============== BORDER-RADIUS ===============>
// |CM| Main border-radius
$primary-br: 2px;
// |CM| Additional border-radiuses
$second-br: 8px;
$third-br: 16px;
$fourth-br: 24px;
$fifth-br: 32px;
$sixth-br: 50%;

// |=============== BACKGROUND-COLOR ===============>
// |CM| Specifying a fallback color for background images
$primary-fb-color: hsl(201 16% 45%);

// |=============== GAP ===============>
// |CM| Specifying a fallback color for background images
$primary-gap: 32px;

// |=============== TRANSITION ===============>
// |CM| Duration of effects (most effective 0.2 to 0.4s)
$fast-transition-duration: 0.2s;

// |=============== Z-INDEX ===============>
// |CM| Different z-index values for ease of selection
$primary-z: -1;
$second-z: 0;
$third-z: 1;
$fourth-z: 2;
// |CM| Ready z-index values for different components
$z-modal: 1000;
