<section class="section-hero section-hero_indent">
  <div class="container section-hero__container">
    <h1 class="section-hero__title">
      Проектные решения любой сложности
    </h1>
    <p class="section-hero__desc">
      Есть над чем задуматься: базовые сценарии поведения пользователей и&nbsp;по&nbsp;сей день остаются уделом проектантов
    </p>
    <button class="btn section-hero__order">
      Заказать расчёт
    </button>
    <div class="swiper section-hero__swiper">
      <ul class="swiper-wrapper section-hero__wrapper">
        <li class="swiper-slide section-hero__slide section-hero__slide_balconies"></li>
        <li class="swiper-slide section-hero__slide section-hero__slide_glass"></li>
        <li class="swiper-slide section-hero__slide section-hero__slide_building"></li>
      </ul>
      <div class="swiper-pagination section-hero__pagination"></div>
    </div>
  </div>
</section>
