<section class="section-how section-how_indent">
  <div class="container section-how__container">
    <h2 class="title section-how__title">
      Как мы&nbsp;работаем
    </h2>
    <ul class="list-how section-how__list">
      <li class="list-how__item">
        <button class="list-how__step tab-active" type="button" data-tab-step="first" aria-controls="content-how-first" aria-expanded="true">
          1&nbsp;шаг
        </button>
      </li>
      <li class="list-how__item">
        <button class="list-how__step" type="button" data-tab-step="second" aria-controls="content-how-second" aria-expanded="false">
          2&nbsp;шаг
        </button>
      </li>
      <li class="list-how__item">
        <button class="list-how__step" type="button" data-tab-step="third" aria-controls="content-how-third" aria-expanded="false">
          3&nbsp;шаг
        </button>
      </li>
      <li class="list-how__item">
        <button class="list-how__step" type="button" data-tab-step="fourth" aria-controls="content-how-fourth" aria-expanded="false">
          4&nbsp;шаг
        </button>
      </li>
    </ul>
    <div class="content-how tab-active section-how__content" id="content-how-first" data-tab-content="first">
      <div class="content-how__inner">
        <h3 class="content-how__title">
          Проводим консультацию
        </h3>
        <p class="content-how__desc">
          Влечет за&nbsp;собой процесс внедрения и&nbsp;модернизации приоритизации разума над эмоциями. В&nbsp;рамках спецификации современных стандартов, некоторые особенности внутренней политики будут объективно рассмотрены соответствующими инстанциями. А&nbsp;также представители современных социальных резервов, инициированные исключительно синтетически, ограничены исключительно образом мышления. Являясь всего лишь частью общей картины, реплицированные с&nbsp;зарубежных источников, современные исследования подвергнуты целой серии независимых исследований. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии освещают чрезвычайно интересные особенности картины в&nbsp;целом, однако конкретные выводы, разумеется, призваны к&nbsp;ответу.
        </p>
        <div class="content-how__actions">
          <a class="btn content-how__more" href="#">
            Подробнее
          </a>
          <a class="content-how__contract" href="#">
            Договор
          </a>
        </div>
      </div>
      <picture>
        <source srcset="img/pictures/fr-team-320-bg.avif" media="(max-width: 20em)" type="image/avif">
        <source srcset="img/pictures/fr-team-320-bg.webp" media="(max-width: 20em)" type="image/webp">
        <source srcset="img/pictures/fr-team-320-bg.png" media="(max-width: 20em)" type="image/webp">
        <source srcset="img/pictures/fr-team-768-bg.avif" media="(max-width: 58.75em)" type="image/avif">
        <source srcset="img/pictures/fr-team-768-bg.webp" media="(max-width: 58.75em)" type="image/webp">
        <source srcset="img/pictures/fr-team-768-bg.png" media="(max-width: 58.75em)" type="image/webp">
        <source srcset="img/pictures/fr-team-1024-bg.avif" media="(max-width: 64em)" type="image/avif">
        <source srcset="img/pictures/fr-team-1024-bg.webp" media="(max-width: 64em)" type="image/webp">
        <source srcset="img/pictures/fr-team-1024-bg.png" media="(max-width: 64em)" type="image/webp">
        <source srcset="img/pictures/fr-team-1920-bg.avif" type="image/avif">
        <source srcset="img/pictures/fr-team-1920-bg.webp" type="image/webp">
        <img class="content-how__picture" src="img/pictures/fr-team-1920-bg.png" width="870" height="460" decoding="async" loading="lazy" alt="Первое докоративное изображение." aria-hidden="true">
      </picture>
    </div>
    <div class="content-how section-how__content" id="content-how-second" data-tab-content="second">
      <div class="content-how__inner">
        <h3 class="content-how__title">
          Составляем смету
        </h3>
        <p class="content-how__desc">
          Внедрения и&nbsp;модернизации приоритизации разума над эмоциями. В&nbsp;рамках спецификации современных стандартов, некоторые особенности внутренней политики будут объективно рассмотрены соответствующими инстанциями. А&nbsp;также представители современных социальных резервов, инициированные исключительно синтетически, ограничены исключительно образом мышления. Являясь всего лишь частью общей картины, реплицированные с&nbsp;зарубежных источников, современные исследования подвергнуты целой серии независимых исследований.
        </p>
        <div class="content-how__actions">
          <a class="btn content-how__more" href="#">
            Подробнее
          </a>
          <a class="content-how__contract" href="#">
            Договор
          </a>
        </div>
      </div>
      <picture>
        <source srcset="img/pictures/fr-work-320-bg.avif" media="(max-width: 20em)" type="image/avif">
        <source srcset="img/pictures/fr-work-320-bg.webp" media="(max-width: 20em)" type="image/webp">
        <source srcset="img/pictures/fr-work-320-bg.png" media="(max-width: 20em)" type="image/webp">
        <source srcset="img/pictures/fr-work-768-bg.avif" media="(max-width: 58.75em)" type="image/avif">
        <source srcset="img/pictures/fr-work-768-bg.webp" media="(max-width: 58.75em)" type="image/webp">
        <source srcset="img/pictures/fr-work-768-bg.png" media="(max-width: 58.75em)" type="image/webp">
        <source srcset="img/pictures/fr-work-1024-bg.avif" media="(max-width: 64em)" type="image/avif">
        <source srcset="img/pictures/fr-work-1024-bg.webp" media="(max-width: 64em)" type="image/webp">
        <source srcset="img/pictures/fr-work-1024-bg.png" media="(max-width: 64em)" type="image/webp">
        <source srcset="img/pictures/fr-work-1920-bg.avif" type="image/avif">
        <source srcset="img/pictures/fr-work-1920-bg.webp" type="image/webp">
        <img class="content-how__picture" src="img/pictures/fr-work-1920-bg.png" width="870" height="460" decoding="async" loading="lazy" alt="Второе докоративное изображение." aria-hidden="true">
      </picture>
    </div>
    <div class="content-how section-how__content" id="content-how-third" data-tab-content="third">
      <div class="content-how__inner">
        <h3 class="content-how__title">
          Привлекаем подрядчиков
        </h3>
        <p class="content-how__desc">
          Идейные соображения высшего порядка, а&nbsp;также новая модель организационной деятельности требует анализа прогресса профессионального сообщества. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта напрямую зависит от&nbsp;дальнейших направлений развития. Разнообразный и&nbsp;богатый опыт говорит нам, что новая модель организационной деятельности говорит о&nbsp;возможностях системы массового участия. Принимая во&nbsp;внимание показатели успешности, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнить важные задания по&nbsp;разработке прогресса профессионального сообщества.
        </p>
        <div class="content-how__actions">
          <a class="btn content-how__more" href="#">
            Подробнее
          </a>
          <a class="content-how__contract" href="#">
            Договор
          </a>
        </div>
      </div>
      <picture>
        <source srcset="img/pictures/fr-laptop-320-bg.avif" media="(max-width: 20em)" type="image/avif">
        <source srcset="img/pictures/fr-laptop-320-bg.webp" media="(max-width: 20em)" type="image/webp">
        <source srcset="img/pictures/fr-laptop-320-bg.png" media="(max-width: 20em)" type="image/webp">
        <source srcset="img/pictures/fr-laptop-768-bg.avif" media="(max-width: 58.75em)" type="image/avif">
        <source srcset="img/pictures/fr-laptop-768-bg.webp" media="(max-width: 58.75em)" type="image/webp">
        <source srcset="img/pictures/fr-laptop-768-bg.png" media="(max-width: 58.75em)" type="image/webp">
        <source srcset="img/pictures/fr-laptop-1024-bg.avif" media="(max-width: 64em)" type="image/avif">
        <source srcset="img/pictures/fr-laptop-1024-bg.webp" media="(max-width: 64em)" type="image/webp">
        <source srcset="img/pictures/fr-laptop-1024-bg.png" media="(max-width: 64em)" type="image/webp">
        <source srcset="img/pictures/fr-laptop-1920-bg.avif" type="image/avif">
        <source srcset="img/pictures/fr-laptop-1920-bg.webp" type="image/webp">
        <img class="content-how__picture" src="img/pictures/fr-laptop-1920-bg.png" width="870" height="460" decoding="async" loading="lazy" alt="Третье докоративное изображение." aria-hidden="true">
      </picture>
    </div>
    <div class="content-how section-how__content" id="content-how-fourth" data-tab-content="fourth">
      <div class="content-how__inner">
        <h3 class="content-how__title">
          Инспектируем все этапы работ
        </h3>
        <p class="content-how__desc">
          Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта напрямую зависит от&nbsp;дальнейших направлений развития. Разнообразный и&nbsp;богатый опыт говорит нам, что новая модель организационной деятельности говорит о&nbsp;возможностях системы массового участия. Принимая во&nbsp;внимание показатели успешности, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        </p>
        <div class="content-how__actions">
          <a class="btn content-how__more" href="#">
            Подробнее
          </a>
          <a class="content-how__contract" href="#">
            Договор
          </a>
        </div>
      </div>
      <picture>
        <source srcset="img/pictures/fr-table-320-bg.avif" media="(max-width: 20em)" type="image/avif">
        <source srcset="img/pictures/fr-table-320-bg.webp" media="(max-width: 20em)" type="image/webp">
        <source srcset="img/pictures/fr-table-320-bg.png" media="(max-width: 20em)" type="image/webp">
        <source srcset="img/pictures/fr-table-768-bg.avif" media="(max-width: 58.75em)" type="image/avif">
        <source srcset="img/pictures/fr-table-768-bg.webp" media="(max-width: 58.75em)" type="image/webp">
        <source srcset="img/pictures/fr-table-768-bg.png" media="(max-width: 58.75em)" type="image/webp">
        <source srcset="img/pictures/fr-table-1024-bg.avif" media="(max-width: 64em)" type="image/avif">
        <source srcset="img/pictures/fr-table-1024-bg.webp" media="(max-width: 64em)" type="image/webp">
        <source srcset="img/pictures/fr-table-1024-bg.png" media="(max-width: 64em)" type="image/webp">
        <source srcset="img/pictures/fr-table-1920-bg.avif" type="image/avif">
        <source srcset="img/pictures/fr-table-1920-bg.webp" type="image/webp">
        <img class="content-how__picture" src="img/pictures/fr-table-1920-bg.png" width="870" height="460" decoding="async" loading="lazy" alt="Четвёртое докоративное изображение." aria-hidden="true">
      </picture>
    </div>
  </div>
</section>
