<footer class="site-footer">
  <div class="container site-footer__container">
    <div class="left-footer site-footer__left">
      <a class="logo-footer left-footer__logo" href="">
        <img class="logo-footer__picture" src="img/sprites/sprite.svg#logo-evklid-footer" width="224" height="72" decoding="async" loading="lazy" alt="Логотип компании Евклид.">
      </a>
      <ul class="list-footer left-footer__list">
        <li class="list-footer__item">
          <a class="list-footer__link" href="#">О&nbsp;нас</a>
        </li>
        <li class="list-footer__item">
          <a class="list-footer__link" href="#">Проекты</a>
        </li>
        <li class="list-footer__item">
          <a class="list-footer__link" href="#">Отзывы</a>
        </li>
        <li class="list-footer__item">
          <a class="list-footer__link" href="#">Договор оферты</a>
        </li>
        <li class="list-footer__item">
          <a class="list-footer__link" href="#">Договор подряда</a>
        </li>
        <li class="list-footer__item">
          <a class="list-footer__link" href="#">Конфиденциальность</a>
        </li>
        <li class="list-footer__item">
          <a class="list-footer__link" href="#">Партнёрское соглашение</a>
        </li>
      </ul>
      <ul class="socials-footer left-footer__socials">
        <li class="socials-footer__item">
          <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница компании в Фейсбук.">
            <svg class="socials-footer__icon" width="60" height="60" aria-hidden="true">
              <use xlink:href="img/sprites/sprite.svg#icon-facebook" />
            </svg>
          </a>
        </li>
        <li class="socials-footer__item">
          <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница компании в Вконтакте.">
            <svg class="socials-footer__icon" width="60" height="60" aria-hidden="true">
              <use xlink:href="img/sprites/sprite.svg#icon-vkontakte" />
            </svg>
          </a>
        </li>
        <li class="socials-footer__item">
          <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница компании в Инстаграм.">
            <svg class="socials-footer__icon" width="60" height="60" aria-hidden="true">
              <use xlink:href="img/sprites/sprite.svg#icon-instagram" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="middle-footer site-footer__middle">
      <h2 class="title middle-footer__title">
        Оставить заявку
      </h2>
      <form class="request-form middle-footer__form-request" action="https://postman-echo.com/post" name="requestForm" method="post">
        <label class="request-form__label" for="request-field-name">
          Введите полностью фамилию, имя и&nbsp;отчество.
        </label>
        <input class="request-form__field request-form__field_name" id="request-field-name" type="text" name="requestFormFieldName" placeholder="Фамилия, имя и отчество*" translate="no" autocapitalize="words" autocorrect="false" autocomplete="name" spellcheck="false" required>
        <label class="request-form__label" for="request-field-email">
          Введите свою электронную почту.
        </label>
        <input class="request-form__field request-form__field_email" id="request-field-email" type="email" name="requestFormFieldEmail" placeholder="E-mail*" translate="no" autocapitalize="off" autocorrect="false" autocomplete="email" spellcheck="false" required>
        <label class="request-form__label" for="request-field-message">
          Кратко опишите техническое задание по&nbsp;проекту.
        </label>
        <textarea class="request-form__field request-form__field_message" id="request-field-message" name="requestFormFieldMessage" placeholder="Сообщение" translate="no" autocapitalize="sentences" autocorrect="true" autocomplete="off" spellcheck="true" required></textarea>
        <div class="request-form__box">
          <button class="btn request-form__send">
            Отправить данные
          </button>
          <input class="request-form__field-check" id="request-field-check" type="checkbox" name="requestFormFieldCheck" checked>
          <label class="request-form__label-agree" for="request-field-check">
            Согласен на&nbsp;обработку данных
          </label>
        </div>
      </form>
    </div>
    <p class="site-footer__desc">
      Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение модели развития. Таким образом, консультация с&nbsp;широким активом обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании стандартных подходов.
    </p>
  </div>
</footer>
